body {
    background: lightyellow;
    font: 10px Arial, sans-serif;
}
h1 {
    color: orange;
    text-align: center;
}

h2{
    color: orange;
    text-align: center;
    border: 3px solid green;
}