body {
    background: lightyellow;
    font:18px Arial, sans-serif;
}
h1 {
    color: orange;
    text-align: center;
}

h2{
    color: orange;
    text-align: center;
    font:22px Arial, sans-serif;
    border: 5px solid green;
}